body {
  display: flex;
  justify-content: center;
}


.site-container {
  border: 5px solid black;
  width: 80%;
}

.header-container {
  border: 5px solid red;
  height: 20vh;
}

.nav-container {
  border: 5px solid blue;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-ul > li {
  list-style: none;
}

.nav-ul a {
  color: black;
  text-decoration: none;
}
