body {
  width: 80vw;
  border: 2px solid black;
  margin: 0 auto;
}

li {
  list-style: none;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container, .enemy-container {
  display: flex;
  margin: 0 20px;
}

.player-container > img {
  width: 250px;
  height: 250px;
  display: block;
}

.enemy-container > img {
  width: 250px;
  height: 250px;
  display: block;
}

.weapon-box {
  display: flex;
  flex-direction: column;
}

.weapon {
  width: 100px;
}

.text-container {
  border: 10px solid black;
  background: lightblue;
  height: 200px;
  overflow-y: scroll;
}

.text-container > p {
  padding: 0;
  margin: 0;
}
