#friend-button {
  display: none;
}

#restart-button {
  display: none;
}

#random-event-text {
  display: none;
}

#random-event-button-accept {
  display: none;
}

#random-event-button-decline {
  display: none;
}