/* body {
  border: 1px solid black;
} */

.top-row {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  max-width: 70vw;
}

.calendar {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.calendar > img {
  height: 100px;
  width: 100px;
}

#calendar-box {
  font-size: 2em;
  margin-right: 10px;
}

.toolbox {
  display: flex;
  align-items: center;
  background: lightblue;
  min-width: 20vw;
}

.toolbox > img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}


.stats-box-container {
  display: flex;
  background-color: lightblue;
  min-width: 20vw;
}

.stats-box-container > img {
  height: 100px;
  width: 100px;
  margin-right: 5px;
}

#stats-box {
  /* border: 1px solid red; */
  margin: 0;
}

#text-box {
  display: block;
  background-color: coral;
  max-width: 70vw;
  border: 1px solid black;
  height: 7em;
  margin-left: 10px;
  overflow: scroll;
}

.lawn-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 10px auto;
}

.lawn {
  padding: 55px;
  margin: 10px;
  font-size: .3em;
}

#text-input-field {
  border: 1px solid black;
  width: 70vw;
  margin-left: 10px;
}

#restart-button {
  margin-top: 50px;
  padding: 10px;
  margin-left: 10px;
}
