html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

.site-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  padding-left: 2%;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
  grid-column: 1 / 2;
  background: teal;
  height: 80%;
  margin: auto 0;
  padding: 1rem;
}

.portrait {
  grid-column: 2 / 3;
  background-image: url('./images/biopic.jpg');
  /* background-position: center; */
  background-size: contain;
  height: 80%;
  margin: auto 0;
}

.resume-modal .modal-content {
  height: 50vh;
}

iframe {
  width: 100%;
  height: 100%;
  display: flex;
}
