body {
  display: flex;
  justify-content: center;
  /* Photo by 五玄土 ORIENTO on Unsplash */
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width:800px) {
  body {
    /* Photo by Sarah Dorweiler on Unsplash */
    background-image: url('../images/background-mobile.jpg');
  }
}

.site-container {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  margin: 10px 0;
  height: 20vh;
  width: 100%;
}

.nav-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-button {
  list-style: none;
  color: rgba(119, 119, 119, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  transition: 1.8s;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2em;
}

.nav-button:hover {
  transition: 1.8s;
  background-color: rgba(255, 255, 255, .1);
  font-size: 1.4em;
}

.app-container {
  width: 90%;
  height: 60vh;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.footer-container {
  margin: 10px 0;
  height: 10vh;
  width: 100%;
}


.off {
  display: none;
}

/* DICTIONARY STYLES */

.dictionary {
  background-image: url();
}

form {
  min-width: 20%;
  display: flex;
  align-items: center;
}

#inputField {
  width: 80%;
  height: 5vh;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  opacity: 40%;
  padding: 0 10px;
  font-family: 'Noto Serif SC', serif;
}


.mobile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  width: 5vw;
  height: 90%;
}

.mobile-button:hover {
  border: 1px solid black;
}

a {
  text-decoration: none;
}

.character-info-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3)
}

@media (max-width:400px) {
  .character-info-container {
    /* Photo by Sarah Dorweiler on Unsplash */
    background-color: rgba(255, 255, 255, 0.9)
  }
}

.character-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.simple-char {
  font-family: 'Noto Serif SC', serif;
  color: rgba(0, 0, 0, .7);
  font-size: 5vw;
}

.pronunciation {
  font-family: 'Noto Serif SC', serif;
  color: rgba(0, 0, 0, .7);
  font-size: 5vw;
}

/* FLASH CARDS STYLES */

.flash-cards {
  background-image: url();
}

.deck-container {
  margin-top: 1vh;
  /* border: 5px solid white; */
  display: flex;
  flex-direction: column;
  width: 15vw;
}

.target-container {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
}

.target-char {
  font-size: 15vw;
  color: rgba(119, 119, 119, 0.3);
  padding-bottom: 0;
}

.random-card-container {
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.random-card {
  /* border: 2px solid black; */
  color: rgba(119, 119, 119, 0.3);
  padding: 0.5vw;
  margin: 1vw;
  font-size: 1.5vw;
  transition: 1.5s;
  display: flex;
  justify-content: center;
}

.random-card:hover {
  font-size: 2vw;
  transition: 1.5s;
}
