body {
  display: flex;
  justify-content: center;
  /* Photo by 五玄土 ORIENTO on Unsplash */
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width:600px) {
  body {
    /* Photo by Sarah Dorweiler on Unsplash */
    background-image: url('../images/background-mobile.jpg');
  }
}

.site-container {
  /* border: 5px solid black; */
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  /* border: 5px solid red; */
  margin: 10px 0;
  height: 20vh;
  width: 100%;
}

.nav-container {
  /* border: 5px solid blue; */
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-button {
  /* border: 2px solid lightblue; */
  list-style: none;
  color: #ccd4ec;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;

  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2em;
}

.nav-button:hover {
  transition: 1.3s;
  background-color: rgba(255, 255, 255, .2);
  font-size: 1.5em;
}

.app-container {
  /* border: 5px solid green; */
  width: 90%;
  height: 60vh;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.footer-container {
  /* border: 5px solid gold; */
  margin: 10px 0;
  height: 10vh;
  width: 100%;
}


.off {
  display: none;
}

/* DICTIONARY STYLES */

.dictionary {
  background-image: url();
}

form {
  /* border: 3px solid yellow; */
  min-width: 20%;
  display: flex;
  align-items: center;
}

#inputField {
  width: 80%;
  height: 5vh;
  font-size: 1.7em;
  /* border-radius: 5px; */
  opacity: 40%;
  padding: 0 10px;
  font-family: 'Noto Serif SC', serif;
}


.mobile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  width: 5vw;
  height: 90%;
}

.mobile-button:hover {
  border: 1px solid black;
}

a {
  text-decoration: none;
}

.character-info-container {
  /* border: 5px solid maroon; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3)
}

@media (max-width:400px) {
  .character-info-container {
    /* Photo by Sarah Dorweiler on Unsplash */
    background-color: rgba(255, 255, 255, 0.9)
  }
}

.character-container {
  /* border: 3px solid lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.simple-char {
  font-family: 'Noto Serif SC', serif;
  color: rgba(0, 0, 0, .7);
  font-size: 5vw;
}

.pronunciation {
  font-family: 'Noto Serif SC', serif;
  color: rgba(0, 0, 0, .7);
  font-size: 5vw;
}

/* FLASH CARDS STYLES */

.flash-cards {
  background-image: url();
}
